.extensions-header {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    justify-content: space-between;
}

.extensions-header button {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: 1px solid var(--border);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 500;
    box-shadow: var(--box-shadow-primary);
    opacity: 1;
    transition: opacity .3s ease, box-shadow .3s ease;
}

.extensions-header button:hover {
    opacity: .70;
    box-shadow: none;
}

.dark-mode .extensions-header button:hover {
    background-color: #535868;
    opacity: 1;
}

.extensions-header .btn-active {
    background-color: var(--accent);
    color: var(--text-inverse);
    border: none;
    opacity: 1;
}

.extensions-header .btn-active:hover {
    opacity: 1;
}

.dark-mode .extensions-header .btn-active:hover {
    background-color: var(--accent);
    opacity: 1;
}

.extensions-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
}

.extensions-list-title {
    color: var(--text-primary)
}

.extension-controls {
    display: flex;
    gap: 12px
}

.card {
    display: flex;
    height: 200px;
    justify-content: space-between;
    flex-direction: column;
    background-color: #FBFDFE;
    border: 1px solid var(--border);
    padding: 20px;
    border-radius: 20PX;
    background-color: var(--bg-primary);
    box-shadow: var(--box-shadow-primary);
}

.card-copy h3 {
    color: var(--text-primary);
}

.card-copy p {
    color: var(--text-secondary);
}

.card-info {
    display: flex;
}

.card-info img {
    align-self: flex-start;
    margin-right: 16px;
}

.card-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extension .btn-remove {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: 1px solid var(--border);
    padding: 9px 16px;
    border-radius: 20px;
}

.btn-remove:hover {
    background-color: var(--accent);
    color: var(--text-inverse);
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    cursor: pointer;
}

.switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    border-radius: 20px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-secondary);
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    border-radius: 20px;
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  input:checked + .slider {
    background-color: var(--accent);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }