.extensions-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
}

.extensions-list-title {
    margin-bottom: 32px;
}

.card {
    display: flex;
    height: 200px;
    justify-content: space-between;
    flex-direction: column;
    background-color: #FBFDFE;
    padding: 20px;
    border-radius: 20PX;
}

.card-info {
    display: flex;
}

.card-info img {
    align-self: flex-start;
    margin-right: 16px;
}

.card-info p {
    color: #535868;
}

.card-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extension .btn-remove {
    background-color: inherit;
    border: 1px solid #C6C6C6;
    padding: 9px 16px;
    border-radius: 20px;
}

.btn-remove:hover {
    background-color: rgb(199, 35, 26);
    color: #FBFDFE;
}