.extensions-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
}


.card {
    background-color: #FBFDFE;
    padding: 20px;
    border-radius: 20PX;
}

.card-info {
    display: flex;
}

.card-info img {
    align-items: flex-start;
    margin-right: 16px;
}

.card-info p {
    color: #535868;
}

.card-settings {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}