
header {
    display: flex;
    justify-content: space-between;

    background-color: #FBFDFE;
    padding: 12px 16px;
    border-radius: 20px;
    border: 1px solid #D6E2F5;
    box-shadow: 0px 2px 3px #D9E5F4;
}

.logo {
    border: none;
    border-radius: 12px;
}

.light-logo {
    background-color: #000;
}

.dark-logo {
    background-color: #eee;
}