
header {
    display: flex;
    justify-content: space-between;

    background-color: var(--bg-color-secondary);
    padding: 12px 16px;
    border-radius: 20px;
    border: 1px solid #D6E2F5;
    box-shadow: 0px 2px 3px #D9E5F4;
}

.dark-mode header {
    border: none;
    box-shadow: none;
}

header a {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    border: none;
    border-radius: 12px;
    padding: 14px;
}

.light-logo {
    background-color: #2F364B;
}

.dark-logo {
    background-color: #eee;
}