#root {
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 50px 64px
}

@media (max-width: 1023px) {
  #root {
    padding: 24px 32px 64px;
  }
}

@media (max-width: 767px) {
  #root {
    padding: 20px 16px 64px;
  }
}

button {
    cursor: pointer;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    border: 1px solid var(--border);
    padding: 9px 16px;
    border-radius: 20px;
}