/* CSS RESET */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/* CSS RESET END */

:root {
  font-family: 'NotoSans' !important;
  line-height: 1.5;
  font-weight: 400;

  --text-primary: #091540;
  --text-secondary: #535868;
  --text-inverse: #FBFDFE;
  --bg-primary: #FBFDFE;
  --bg-secondary: #C6C6C6;
  --accent: #C7231A;
  --border: #D6E2F5;
  --page-bg-color: linear-gradient(#EBF2FC, #EEFBF9);
  --box-shadow-primary: 0px 2px 3px #D9E5F4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For theme toggle */
* {
    transition: background 0.3s ease, color 0.3s ease;
  }

*:focus {
  outline: 1px solid var(--accent)
}

.dark-mode {
  --text-primary: #FBFDFE;
  --text-secondary: #C6C6C6;
  --text-inverse: #091540;
  --bg-primary: #202535;
  --bg-secondary: #535868;
  --accent: #F25C54;
  --border: #535868;
  --text-color: #FBFDFE;
  --box-shadow-primary: none;

  --page-bg-color: linear-gradient(#04091B, #091540);
}

body {
  min-height: 100vh;
  transition: background 0.3s ease, color 0.3s ease;
  background: var(--page-bg-color);
}