:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  --header-bg-color: #FBFDFE;
  --page-bg-color: linear-gradient(#EBF2FC, #EEFBF9);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For theme toggle */
* {
    transition: background 0.3s ease, color 0.3s ease;
  }

.dark-mode {
    --page-bg-color: linear-gradient(#04091B, #091540);
    --text-color: #FBFDFE;
    --bg-color-secondary: #202535;
    --header-bg-color: #202535;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
  background: var(--page-bg-color);
}